.blog{
  &__cta{
    @include cta;
    display: block;
    margin: 0 auto;
    margin-bottom: 70px;
  }

  &__cards{
    @include grid;
  }

  &__wrapper{
    @include wrapper;
    font-family: $secondary-font;

    & > h2{
      margin-bottom: 20px;
    }
  }
}