.github{
  &__wrapper{
    width: 90%;
    margin: 35px auto;
  }

  &__content{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  &__header{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    cursor: pointer;

    &--bar{
      position: absolute;
      bottom: -9px;
      width: 100%;
      left: 0;
      border-color: transparent;
      transition: border-color 0.5s;
    }
    
    &:hover hr{
      border-color: $contrast-color;
    }

    & span{
      font-family: $terceary-font;
    }

    &--profile{
      display: flex;
      align-items: center;
      border-right: 1px solid $default-color;
      min-width: 222px;
      padding-block: 5px;
      margin-right: 20px;
    }

    &--profile img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 12px;
    }

    &--profile h2{
      font-family: $secondary-font;
      margin-bottom: 5px;
    }

    &--company{
      display: flex;
      align-items: center;
      padding-block: 10px;
    }

    &--company svg{
      width: 30px;
      height: 30px;
      margin-right: 10px;
      fill: $default-color;
    }
  }

  @media screen and (min-width: 735px){
    &__wrapper{
      margin: 35px auto 70px auto;
    }

    &__content{
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (min-width: 1060px){
    &__content{
      grid-template-columns: repeat(3, 1fr);
    }
  }
}