.projects{

  &__wrapper{
    @include wrapper;
    
    & > h2{
      font-family: $secondary-font;
      margin-bottom: 20px;
    }
  }

  &__cards{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}