$contrast-color: #00D8FF;
$border-color: #A1A1A1;
$bg-dark-color: #201F3D;
$footer-color: #007ACC;
$bg-clear-color: #2F2C58;
$default-color: white;
$sidebar-color: #292950;

$primary-font: 'JetBrains Mono', monospace;
$secondary-font: 'Source Sans Pro', sans-serif;
$terceary-font: 'Fira Code', monospace;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  overflow: hidden;
}

@mixin reset-button {
  border: none;
  background-color: transparent;
}

@mixin footer-hover{
  opacity: 0.5;
  background-color: $default-color;
  color: $bg-dark-color;

  svg{
    fill: $bg-dark-color;
  }
}

@mixin subtitle{
  color: $contrast-color;
  font-family: $terceary-font;
  font-size: 20px;

  @media screen and (min-width: 500px){
    font-size: 23px;
  }
}

@mixin title{
  color: $default-color;
  font-family: $primary-font;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 1px;

  @media screen and (min-width: 500px){
    font-size: 33px;
  }
}

@mixin cta{
  @include reset-button;
  padding: 12px;
  border: 2px solid $contrast-color;
  color: $contrast-color;
  font-size: 17px;

  @media screen and (min-width: 500px){
    font-size: 20px;
  }
}

@import "./containers/Layout/Layout.scss";
@import "./components/SidebarButton/SidebarButton.scss";
@import "./pages/Home/Home.scss";