$contrast-color: #00D8FF;
$border-color: #A1A1A1;
$bg-dark-color: #201F3D;
$footer-color: #007ACC;
$bg-clear-color: #2F2C58;
$default-color: white;

$primary-font: 'JetBrains Mono', monospace;
$secondary-font: 'Source Sans Pro', sans-serif;
$terceary-font: 'Fira Code', monospace;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}